[
    {
        "url_key": "production-deploy",
        "when": [
          {
            "filter": "github-webhook-valid",
            "secret": "webhook password"
          },
          {
              "filter": "git-remote-status",
              "dir": "/path/to/local/repo",
              "value": "remote-different"
          }
        ],
        "tasks": [
            {
                "dir": "/tmp",
                "exec": "echo 'execute deploy script'"
            },
            {
                "dir": "/tmp",
                "exec": "echo 'notify chat service'"
            }
        ]
    }
]